<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
    <!--Add review form here -->
    <div class= "container">
        <form action="{% url 'djangoapp:add_review' dealer_id%}" >
            <div class= "container-fluid">
                <div class="row">
                    <div class="col">
                        <h1>Add a review about {{dealership.full_name}}</h1>
                    </div>
                    
                </div >
                <div class="row">
                    <div class="col">
                        <h2>Enter the review content:<h2>
                    </div>
                </div >
                <div class="row">
                    <div class="col">
                        <textarea class="form-control" id="content" name="content" rows="2" required></textarea> 
                    </div>
    
                </div >
                <div class="row">
                    <div class="col-1">
                        <input  type="checkbox" name="purchasecheck" id="purchasecheck"></input>
                    </div>
                    <div class="col-8">
                        <h5> Has purchased the car from {{dealership.full_name}} (select purchased car information below if checked)</h5>
                    </div>
                </div >
                <div class="row">
                    <div class="col"> 
                        <span>Select your car (model-make-year)</span>
                        <select name="car" id="car" class="form-select" required>
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                            {% endfor %}
                        </select>
                        </br>
                    </div>
                </div >
                <div class="row">
                    
                </div >
                <div class="row">
                    
                </div >
                <div class="row">
                    
                </div >
                
                
                
            </div>


        </from>
    </div>

    </body>
    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>
</html>