<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Best Cars dealership</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:index' %}">Home</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="nav-link active" aria-current="page" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                     <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                     <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                     <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                             <input type="text" class="form-control" placeholder="Username" name="username" >
                             <input type="password" class="form-control" placeholder="Password" name="password" >
                             <button class="btn btn-primary" type="submit">Login</button>
                             <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                     </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <!-- Add reviews as cards -->
    <h1>Reviews for {{dealership.full_name}}</h1>
    <div class="container-fluid">
        <div class="container">
            <div class="card-columns">
                {% for dealer in target %}
                <div class="card">
                    <img  class="card-img-left" src = "{{MEDIA_URL}}emoji/{{dealer.sentiment}}.png" width="50" height="50">
                    <div class="card-body">
                        <h3 class="card-title" >{{dealer.name}}</h3>
                        <h3 class="card-title" >{{dealer.car_year}}</h3>
                        <p class="card-text">{{dealer.review}}</p>
                    </div>
                </div>
        
                
                {% endfor %}
            </div>
        </div>

    </div>

    </body>

</html>